<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>在线学习</title>
  </head>

  <body>
    <div>
      <div>
        <h1>用户登录</h1>
      </div>
      <div>
        <form>
          <div>
            <label>用户名</label>
            <input type="email" placeholder="请输入用户名" />
          </div>
          <div>
            <label>密码</label>
            <input type="password" placeholder="Password" />
          </div>
          <div>
            <button type="submit">登 录</button>
          </div>
        </form>
        <div>
          <a href="./register.html">
            <button type="submit">注 册</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
