{% extends 'base.html' %}

{% block title %}
高斯模糊
{% endblock %}


{% block head %}
<!-- 加载注册用的js代码 -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
<script src="../../static/js/choujiang.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/js/tupian.js"></script>
<link rel="stylesheet" href="../../static/css/shuzi.css" />

<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.rtl.css" />
{% endblock %}

{% block body%}
<div>
    <a href="{{url_for('root')}}" class="btn btn-block btn-lg bg-white mt-4">返回</a>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="card-body">
                <form action="{{url_for('box.gaussian')}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="pic"></label>
                        <input type="file" name="pic" class="btn btn-block btn-lg bg-white mt-4"
                            id="exampleFormControlFile1" onchange="show(this)" />
                    </div>
                    <div id="display_none"></div>
                    <button type="submit" class="btn btn-block btn-lg bg-white mt-4">
                        高斯模糊处理
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}