{% extends 'base.html' %}
{% block title %}
登录
{% endblock %}
{% block body %}
    <div>
        <h1>用户登录</h1>
      <div>
        <form>
          <div>
            <label>用户名</label>
            <input type="email" placeholder="请输入用户名">
          </div>
          <div>
            <label>密码</label>
            <input type="password" placeholder="请输入密码">
          </div>
          <div>
            <button type="submit">登 录</button>
            <button type="button">注册</button>
          </div>
      </form>
      </div>
    </div>
{% endblock %}