{% extends 'base.html' %}

{% block title %}
背包问题
{% endblock %}


{% block head %}
<!-- 加载注册用的js代码 -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/js/varlable_rule.js"></script>
<link rel="stylesheet" href="../../static/css/shuzi.css" />

<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.rtl.css" />
{% endblock %}

{% block body%}
<div>
    <h4 style="text-align:center;">背包问题</h4>
    <a href="{{url_for('root')}}" class="btn btn-block btn-lg bg-white mt-4">返回</a>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">01背包</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">完全背包</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false">多重背包</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact1" type="button"
                role="tab" aria-controls="contact" aria-selected="false">基础</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact2" type="button"
                role="tab" aria-controls="contact" aria-selected="false">二进制优化</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact3" type="button"
                role="tab" aria-controls="contact" aria-selected="false">单调队列优化</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact4" type="button"
                role="tab" aria-controls="contact" aria-selected="false">混合背包</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact5" type="button"
                role="tab" aria-controls="contact" aria-selected="false">二维费用背包</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact6" type="button"
                role="tab" aria-controls="contact" aria-selected="false">分组背包</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact7" type="button"
                role="tab" aria-controls="contact" aria-selected="false">树形依赖背包</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade  show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <blockquote class="blockquote left">
                <pre>
                    <code>
for(int i=1;i<=n;i++)
{
    for(int c=C;c>=0;c--)//注意倒序
    {
        if(c>=w[i])
        {
            f[c]=max(f[c],[c-w[i]]+v[i]);
        }
    }
}
                    </code>
                </pre>
            </blockquote>
            <blockquote class="blockquote right">
            </blockquote>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <blockquote class="blockquote left">
                <pre>
                    <code>
for(int i=1;i<=n;i++)
{
    for(int c=0;c<=C;c++)
    {
        if(c>=w[i])
        {
            f[c]=max(f[c],f[c-w[i]]+v[i]);
        }
    }
}
                    </code>
                </pre>
            </blockquote>
            <blockquote class="blockquote right">
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
                <pre>
                    <code>
for(int i=1;i<=n;i++)
scanf("%d%d%d",&a[i],&w[i],&v[i]);
for(int i=1;i<=n;i++)
if(a[i]*w[i]>C)
{//当完全背包处理 
    for(int c=w[i];c<=C;c++)
    f[c]=max(f[c],f[c-w[i]]+v[i]);
}
else
{
    int k=1,ans=a[i];
    while(k < ans)
    {   //是否取一个重量为k*w[i],价值为k*v[i]的物品呢   01背包 
        for(int c=C;c>=k*w[i];c--)
        f[c]=max(f[c],f[c-k*w[i]]+k*v[i]);
        ans-=k;
        k+=k;
    }
    //剩下的物品当成一个物品
    for(int c=C;c>=ans;c--)
    f[c]=max(f[c],f[c-ans*w[i]]+ans*v[i]); 
}
                    </code>
                </pre>
            </blockquote>
            <blockquote class="blockquote right">
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
            </blockquote>
            <blockquote class="blockquote right">
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
            </blockquote>
            <blockquote class="blockquote right">
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
                
            </blockquote>
            <blockquote class="blockquote right">
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
                <pre>
                    <code>
for(iny i=1;i < N;i++)
{
    if(物品i属于0/1背包)
    {
        按照0/1背包做法取物品i
    }
    if(物品i属于完全背包)
    {
        按照完全背包做法取物品i
    }
    if(物品i属于多重背包)
    {
        按照多重背包做法取物品i
    }
}

                    </code>
                </pre>
            </blockquote>
            <blockquote class="blockquote right">
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact5" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
            </blockquote>
            <blockquote class="blockquote right">
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact6" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
                <pre>
                    <code>
for(int k=1;K<=K;K++)//每一个组
  for(int c=C;c>=0;c--)
    for(所有属于第k组的物品)
      if(c>=w[i]) f[c]=max(f[c],f[c-w[i]+v[i]);
                    </code>
                </pre>
            </blockquote>
            <blockquote class="blockquote right">
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact7" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
            </blockquote>
            <blockquote class="blockquote right">
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}