{% extends 'base.html' %} {% block title %} 医学图像处理案例 {% endblock %} {% block
head %}
<!-- 定义主页背景色的CSS样式 -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
<script src="../../static/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="../../static/css/jquery-scrollbar.css" />
<link rel="stylesheet" href="../../static/css/root.css" />
<link rel="stylesheet" href="../../static/css/imageprocessing.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.rtl.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-reboot.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-utilities.css" />
{% endblock %} {% block body%}
<nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
    <div class="container">
        <h1 class="navbar-brand">欢迎来到医影智学tool!</h1>
        <div class="navbar-collapse offcanvas-collapse">
            <ul class="navbar-nav ml-auto align-items-lg-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="false"
                        aria-expanded="false">深度学习</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{url_for('deeplearning.A1')}}">CT肿瘤图像分割</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('deeplearning.A2')}}">使用Tansformer分割三维腹部多器官--UNETR实战</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('deeplearning.A3')}}">数字识别</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
