{% extends 'base.html' %} {% block title %} 医影智学tool {% endblock %} {% block
head %}
<!-- 定义主页背景色的CSS样式 -->
<script src="../../static/js/waibu/jquery.min.js"></script>
<script src="../../static/js/bootsrap/bootstrap.bundle.min.js"></script>
<script src="../../static/js/wangzhan/other.js"></script>

<link href="//unpkg.com/layui@2.9.8/dist/css/layui.css" rel="stylesheet">
<link rel="stylesheet" href="../../static/css/waibu/jquery-scrollbar.css" />
<link rel="stylesheet" href="../../static/css/wangzhan.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.rtl.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-reboot.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-utilities.css" />
{% endblock %} {% block body%}
<div style="background: url(/static/images/w6.jpg);background-attachment:fixed;">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
        <div class="container">
            <a class="h1 navbar-brand" href="{{url_for('root')}}">欢迎来到医影智学tool!</a>
            <div class="navbar-collapse offcanvas-collapse">
                <ul class="navbar-nav ml-auto align-items-lg-center">
                    <li class="nav-item">
                        <a href="{{url_for('onlinetesting.onlinetesting')}}" class="nav-link">在线测试</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="false"
                            aria-expanded="false">解剖学学习</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A1')}}">头骨</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A2')}}">心脏</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A3')}}">人体骨骼结构</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A4')}}">肾脏</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A5')}}">肺</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A6')}}">盆骨</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A7')}}">大脑</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A8')}}">女体</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deplaning.A9')}}">造影</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="false"
                            aria-expanded="false">医学图像处理案例</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{{url_for('deeplearning.A1')}}">使用Tansformer分割三维腹部多器官</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deeplearning.A2')}}">基于U-net的CT肿瘤图像分割</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deeplearning.A3')}}">深度学习经典入门项目—手写数字识别</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deeplearning.A4')}}">基于Tensorflow2.0的大脑肿瘤识别</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{url_for('deeplearning.A5')}}">U-Net实现肺部图像分割(pytorch)</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('imageprocessing.imageprocessing_root')}}" class="nav-link">医学图像处理基础</a>
                    </li>
                    <li class="nav-item"><!--nav-item 元素设置--><!--active 元素背景设置-->
                        <a href="{{url_for('login.login')}}" class="nav-link">登录</a><!--nav-link 元素名字设置-->
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('login.register')}}" class="nav-link">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container pt-7 pb-5" style="width: 70%;">
        <div style="height: 100px;"></div>
        <div class="onlinetest justify-content-center">
            <h4 class="h3 text-dark pt-3 pb-5">水平测试</h4>
            <form action="{{url_for('onlinetesting.testing')}}" method="post">
                <div class="form-group">
                    <label>问题：</label>
                    <input type="text" readonly class="form-control" value="{{ questions }}">
                </div>
                <div class="form-group">
                    <label>答案:</label>
                    <input type="text" name="answers" class="form-control" value="{{ answers }}">
                </div>
                <div class="form-group" id="testing" style="visibility: hidden;">
                    <label>正确答案:</label>
                    <p type="text" readonly class="form-control">{{ true_answers }}</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-lg bg-white mt-4">刷新</button>
                    <a onclick="onlinetesting();" id="button" type="button" class="btn btn-block btn-lg bg-white mt-4">检查</a>
                </div>
            </form>
            <div style="height: 100px;"></div>
        </div>
    </div>
    <div style="height: 100px;"></div>
</div>
{% endblock %}