{% extends 'base.html' %} {% block title %} 懒人tool {% endblock %} {% block
head %}
<!-- 定义主页背景色的CSS样式 -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
<script src="../../static/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="../../static/css/root.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.rtl.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-reboot.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-utilities.css" />
{% endblock %} {% block body%}
<nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
    <!--py-4 填充导航条顶部底部--><!--bg-dark 设置透明度--><!--navbar-dark 导航每个元素字体的颜色--><!--navbar-expand-lg 导航行或列及对齐形式--><!--navbar-transparent 导航整体设置--><!--navbar 导航边框设置-->
    <div class="container"><!--container 容器设置-->
        <h1 class="navbar-brand">欢迎来到懒人tool!</h1><!--navbar-brand 导航纯文本设计-->
        <div class="navbar-collapse offcanvas-collapse"><!--offcanvas-collapse 侧边滑动导航 --><!--navbar-collapse 折叠导航 -->
            <ul class="navbar-nav ml-auto align-items-lg-center">
                <!--align-items-lg-center 在其网格区域内的块向轴上的中心对齐 --><!--ml-auto 元素居右 --><!--navbar-nav 列表整体设计 -->
                <li class="nav-item dropdown"><!--dropdown 下拉菜单--><!--nav-item 元素设置-->
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="false"
                        aria-expanded="false">工具栏</a><!--show js处理，隐藏元素--><!--aria-expanded 展开状态--><!--data-bs-toggle 触发事件--><!--dropdown-toggle 切换按钮-->
                    <ul class="dropdown-menu"><!--dropdown-menu 下拉菜单设计-->
                        <li>
                            <a class="dropdown-item" href="{{url_for('box.choujiang')}}">抽奖</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('box.text')}}">解刨</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('box.Digitalprediction')}}">数字识别</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('box.text')}}">算法</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="false"
                        aria-expanded="false">解刨学</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{url_for('deplaning.all_a',A_id=1)}}">人类头骨</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('deplaning.all_a',A_id=2)}}">人类头骨</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('deplaning.all_a',A_id=3)}}">人类头骨</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('deplaning.all_a',A_id=4)}}">人类头骨</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('deplaning.all_a',A_id=5)}}">人类头骨</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('deplaning.all_a',A_id=6)}}">人类头骨</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('deplaning.all_a',A_id=7)}}">人类头骨</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="false"
                        aria-expanded="false">算法</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=1)}}">语法基础</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=2)}}">语法进阶</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=3)}}">基础算法</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=4)}}">排序</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=5)}}">搜索</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=6)}}">基础数据结构</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=7)}}">图论基础</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=8)}}">动态规划基础</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=9)}}">背包问题</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=10)}}">动态规划进阶</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=11)}}">字符串匹配算法</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=12)}}">数论基础</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=13)}}">图论算法和理论</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=14)}}">数论进阶</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=15)}}">排列组合</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=16)}}">树形数据结构</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=17)}}">计算几何基础</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=18)}}">高级数据结构</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=19)}}">图论高阶应用</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=20)}}">动态规划优化</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('algorithm.all_a',A_id=21)}}">博弈论</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item"><!--nav-item 元素设置--><!--active 元素背景设置-->
                    <a href="{{url_for('login.login')}}" class="nav-link">登录</a><!--nav-link 元素名字设置-->
                </li>
                <li class="nav-item">
                    <a href="{{url_for('login.register')}}" class="nav-link">注册</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="menu">
</div>
{% endblock %}