{% extends 'base.html' %}

{% block title %}
数字识别
{% endblock %}


{% block head %}
<!-- 加载注册用的js代码 -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
<script src="../../static/js/choujiang.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/js/tupian.js"></script>
<link rel="stylesheet" href="../../static/css/shuzi.css" />

<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.css" />
<link rel="stylesheet" href="../../static/css/bootstart/bootstrap-grid.rtl.css" />
{% endblock %}

{% block body%}
<div>
    <a href="{{url_for('root.root')}}" class="btn btn-block btn-lg bg-white mt-4">返回</a>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">模型展示</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">准备数据</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false">构建顺序网络模型</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact1" type="button"
                role="tab" aria-controls="contact" aria-selected="false">编译、训练、评估顺序网络模型</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact2" type="button"
                role="tab" aria-controls="contact" aria-selected="false">应用顺序网络模型</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="card-body">
                <form action="{{url_for('box.Digitalprediction')}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="pic"></label>
                        <input type="file" name="pic" class="btn btn-block btn-lg bg-white mt-4"
                            id="exampleFormControlFile1" onchange="show(this)" />
                    </div>
                    <div id="display_none"></div>
                    <button type="submit" class="btn btn-block btn-lg bg-white mt-4">
                        数字识别
                    </button>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <blockquote class="blockquote left">
                <pre><code>
    import tensorflow as tf <a href="https://tensorflow.google.cn/?hl=zh-cn" class="btn btn-block btn-sm bg-white">?</a>
    import numpy as np <a href="https://numpy.org/" class="btn btn-block btn-sm bg-white">?</a>
    import matplotlib.pyplot as plt <a href="https://matplotlib.org/" class="btn btn-block btn-sm bg-white">?</a>
    mnist=tf.keras.datasets.mnist
    (x_train,y_train),(x_test,y_test)=mnist.load_data() <a href="http://t.csdnimg.cn/VPRz2" class="btn btn-block btn-sm bg-white">?</a>
    x_train,x_test=x_train/255.0,x_test/255.0
                </code></pre>
            </blockquote>
            <blockquote class="blockquote right">
                <p>1.导入本项目所需的模块和包</p>
                <br>
                <p>2.从Keras中导入MNIST数据集 <a href="http://t.csdnimg.cn/E6t9o" class="btn btn-block btn-sm bg-white">?</a> ,将训练集的特征值</p>
                <br>
                <p>和标签值分别储存在x_train和y_train中,将测试集的特</p>
                <p>征值和标签值分别存储在x_test和y_test中</p>
                <br>
                <p>3.对特征值x_train和x_test进行标准化处理,使其取值</p>
                <p>范围为0~1 <a href="http://t.csdnimg.cn/I5ThI" class="btn btn-block btn-sm bg-white">?</a></p>
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
                <pre><code>
    model=tf.keras.models.Sequential() <a href="http://t.csdnimg.cn/6cdVG" class="btn btn-block btn-sm bg-white">?</a>
    model.add(tf.keras.layers.Flatten(input_shape=(28,28))) <a href="http://t.csdnimg.cn/kzYSH" class="btn btn-block btn-sm bg-white">?</a>
    model.add(tf.keras.layers.Dense(128,activation='relu'))
    model.add(tf.keras.layers.Dense(10,activation='softmax'))
    model.summary() <a href="http://t.csdnimg.cn/88pkT" class="btn btn-block btn-sm bg-white">?</a>
                </code></pre>
            </blockquote>
            <blockquote class="blockquote right">
                <p>1.构建空的顺序网络模型</p>
                <br>
                <p>2.MNIST数据集的图片是28*28的二维结构,须使用Flatten()函数</p>
                <p>将数据平展为一维数组 <a href="http://t.csdnimg.cn/nNvxY" class="btn btn-block btn-sm bg-white">?</a></p>
                <br>
                <p>3.为网络模型添加隐藏层,结点个数为128,使用ReLU函数作为激活函数</p>
                <br>
                <p>4.为网络模型添加输出层,结点个数为10,使用Softmax函数作为激活函数 <a href="http://t.csdnimg.cn/NoZcR" class="btn btn-block btn-sm bg-white">?</a></p>
                <br>
                <p>5.使用summary()函数显示网络模型各层的参数信息</p>
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
                <pre><code>
    model.compile(loss='sparse_categorical_crossentropy',
        optimizer='adam' , metrics=[ 'sparse_categorical_accuracy']) <a href="http://t.csdnimg.cn/kv80g" class="btn btn-block btn-sm bg-white">?</a>
    model.fit(x_train,y_train,batch_size=32,epochs=5) <a href="http://t.csdnimg.cn/3a8Q3" class="btn btn-block btn-sm bg-white">?</a>
    model.evaluate(x_test,y_test,batch_size=32,verbose=2) <a href="http://t.csdnimg.cn/bpPNe" class="btn btn-block btn-sm bg-white">?</a>
                </code></pre>
            </blockquote>
            <blockquote class="blockquote right">
                <p>1.编译顺序网络模型,其中,损失函数 <a href="http://t.csdnimg.cn/GOdMi" class="btn btn-block btn-sm bg-white">?</a> 使用稀疏交叉熵损失函数,</p>
                <p>优化器 <a href="http://t.csdnimg.cn/OtPxm" class="btn btn-block btn-sm bg-white">?</a> 使用Adam优化器,性能评估函数 <a href="http://t.csdnimg.cn/Dnf4N" class="btn btn-block btn-sm bg-white">?</a> 使用稀疏交叉熵准确率函数</p>
                <br>
                <p>2.训练顺序网络模型,其中,设置批量大小为32,迭代次数为5</p>
                <br>
                <p>3.使用测试数据集对顺序网络模型进行评估,其中,设置批量大小</p>
                <p>为32,日志显示模式为2</p>
            </blockquote>
        </div>
        <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab">
            <blockquote class="blockquote left">
                <pre><code>
        for i in range(5):
            t=np.random.randint(1,10000)
            tx=tf.reshape(x_test[t],(1,28,28)) <a href="http://t.csdnimg.cn/jejFF" class="btn btn-block btn-sm bg-white">?</a>
            y_pred=np.argmax(model.predict(x),axis=1) <a href="http://t.csdnimg.cn/ckIAs" class="btn btn-block btn-sm bg-white">?</a>
            plt.subplot(1,5,i+1)
            plt.rcParams['font.sans-serif']=['SimHei'] <a href="http://t.csdnimg.cn/GTyhC" class="btn btn-block btn-sm bg-white">?</a>
            plt.axis("off") <a href="http://t.csdnimg.cn/SuqTd" class="btn btn-block btn-sm bg-white">?</a>
            plt.imshow(x_test[t],cmap='gray')
            title="标签值："+str(y_test[t])+"\n预测值:"+str(y_pred[0])
            plt.title(title)
        plt.show()
                </code></pre>
            </blockquote>
            <blockquote class="blockquote right">
                <p>1.在测试集中随机选择5张图片,使用训练完成的网络模型进行预测</p>
                <br>
                <p>2.在子图中绘制手写数字图像，并在子图标题上显示标签值和预测值</p>
                <br>
                <p>3.显示图形</p>
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}