.col-xs-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px; 
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}
.col-xs-7 {
    width: 68%;
    float: right;
    position: relative;
    min-height: 1px; 
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    box-shadow: 0 0 10px 6px #999;
    background-color:bisque;
}